*{
    margin: 0;
    padding: 0;
}

/* shared btn  */
.primary-btn{
    background-color: #E02C6D;
    color: white;
    padding: 10px 20px; 
    border-radius: 20px;
    border: none;
    font-size: 16px

}
  
/* font lato  */
 @import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
 .lato-bold {
  font-family: "Lato", sans-serif;
  font-weight: 700;
  font-style: normal;
}

   body {
    overflow-x: hidden;
  }

 /* menu toggle  */
  .menu-toggle{
    display: none;
    font-size: 22px;
  }
nav{
    display: flex;
    justify-content: space-between;
    padding: 35px 70px;
    align-items: center;
}
nav ul{
    display: flex;
    
}
nav ul li{
    list-style: none;
}
nav ul li a{
    text-decoration: none;
    margin: 0 25px;
    color: #3A3A3A;
}
nav ul a{
    text-decoration: none;
    color: black;
    font-size: 17px;
}
.icon{
    margin-left: 20px;
}
.icon i{
    margin: 0 5px;
    
}
#close-menu {
  display: none;
}

/* header part  */
.parent-container{
    display: flex;
    margin: 0 70px;
    align-items: center;
    height: 80vh;
    justify-content: space-between;
}
.camera-img{
    width: 440px;
}
.header-title h2{
     font-size: 40px;
}
.header-title p{
    color: #3A3A3A;
    font-size: 14px;
    margin: 14px 0;
}

/* logo  */
.logo{
    display: flex;
    justify-content: space-between;
    margin: 0 50px;
}
.logo-section{
   margin: 50px 0;
}
/* popular section  */
.popular-section{
   margin: 100px 0;
}
.star-icon{
    display: flex;
    align-items: center;
   
    
}

  

.card-parent{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin: 0 100px;
    grid-gap: 40px;
}
.single-card img{
    width: 300px;
}
.single-card{
    width: 300px;
    height: 420px;
    box-shadow: 0 0 40px 0 rgba(0, 0, 0, 0.15);
    border-radius: 7px;
    padding: 20px;
}
.single-card h3{
    margin: 10px 0;
}
.single-card p{
    margin: 5px 0;
}
/* .single-card text{
    font-size: 1px;
    margin-top: 12px;
    line-height: 0.2em;
} */

/* futured section  */
.futured-parent{
    display: flex;
    gap: 10%;
    align-items: center;
    margin: 0 100px;
}
.futured-text h4{
    font-size: 30px;
    font-weight: bold;
}
.futured-text p{
    color: gray;
    font-size: 14px;
    margin: 14px 0;
}
.primary-btn i{
   padding-left: 10px;
}
.featured-section{
    margin: 70px 0;
}


footer{
    background-color: #0A0826;
    color: white;
    padding: 40px 0px;
}
.footer-text{
    text-align: center;
}
.footer-text p, span{
    color: grey;
    margin: 10px 0;
    font-size: 12px;
}
.footer-text h5{
    font-size: 22px;
}
.social-icons{
    margin: 17px 0px;
   
}
.social-icons i{
    margin: 0 10px;
}









@media screen and (max-width: 768px) {
 
      .menu-toggle{
    display: block;
  }
   .nav-container {
        padding: 0 20px;
    }
 
   nav ul {
    display: none;
    flex-direction: column;
    background-color: white;
    width: 100%;
    position: absolute;
    top: 100%;
    left: 0;
    text-align: center;
    gap: 15px;
    padding: 20px 0;
  }
   
  nav{
    padding: 20px 30px;
  }

  nav ul.active {
    display: flex;
  }

  nav ul li a {
    margin: 10px 0px;
  }
  .parent-container{
     flex-direction: column;
    margin:  50px 20px;
    align-items: center;
   
   
}
.camera-img{
    max-width: 100%;
}
.header-title h2{
     font-size: 20px;
}
.header-title{
    align-items: center;
    margin-bottom: 50px;
}
.logo{
    flex-direction: column;
    margin: 0px 20px;
    padding-top: 30%;
    align-items: center;
}
  .logo img{
    max-width: 90%;
    margin: 20px 0;
  }

  .card-parent{

    grid-template-columns: repeat(1, 1fr);
    margin:  30px;
    grid-gap: 20px;
    align-items: center;
}
.single-card{
    padding: 60px;
}
.star-icon{
    display: flex;
    margin: 7px 0;
    
}
.futured-parent{
    flex-direction: column;
    
    align-items: center;
    margin: 0 20px;
}
.futured-img{
    max-width: 100%;
}
.futured-text{
    margin-top: 30px;
}
.futured-text h4{
    font-size: 25px;
}
.futured-text p{
    font-size: 13px;
}

 footer{
 
    max-width: 100%;
    
} 


}